main {
  height: fit-content;
  width: 100%;
}

.container {
  height: 100dvh;
  width: 100dvw;
}

.main_content {
  padding: 4rem 0 0 0;
  height: 100dvh;
  width: 100dvw;
}

@media screen and (min-width: 600px) {
  main {
    height: 88dvh;
    width: 100%;
  }
  .main_content {
    height: 100%;
    width: 100%;
    padding: 0;
  }
}
