@import url("../index.css");

.contenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 160px;
}

.picture {
  padding: 8px;
  border: 8px;

  margin: 10px;

  background-color: blue;
  width: 150px;
  height: 250px;
}
.picture h2 {
  margin: 0;

  text-align: center;
}
.airplaine {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 100;
}
.text {
  display: flex;
  flex-direction: row-reverse;
}
