@import "../index.css";

.navModalOpen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-beige);
  height: 100dvh;
  width: 100dvw;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navModalClose {
  display: none;
}

.navModalOpen ul,
.navModalClose ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navModalOpen a,
.navModalClose a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary-dark);
  font-weight: 600;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav a {
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-dark);
}

.logo {
  width: 150px;
  height: auto;
}

.menu {
  display: none;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media screen and (max-width: 500px) {
  .nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0;
  }

  .logo {
    display: none;
  }

  .nav ul {
    display: none;
  }

  .menu {
    display: block;
    z-index: 10;
  }
}
