@import "../index.css";

.nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.nav ul,
a {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  gap: 20px;
  color: var(--primary-dark);
}

.logo {
  width: 150px;
  height: auto;
}
